{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirma tu email" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirma tu email" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma si el mail <a href="mailto:{{ email }}">{{ email }}</a> corresponde al usuario {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}El link de confirmación ha expirado o es inválido. Por favor ingresa a  <a href="{{ email_url }}"> y pide una nueva validación.</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
