{% load i18n %}{% autoescape off %}
{% load templatetags %}
{% settings_value "ADMIN_URL" as a%}
{% blocktrans %}Hola, este mail es porque quisiste cambiar tu contraseña en  {{ site_name }}.{% endblocktrans %}

{% trans "Por favor ingresa al siguiente link:" %}
{% block reset_link %}
{%settings_value "ADMIN_URL"%}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Tu nombre de usuario es:" %} {{ user.get_username }}

{% trans "Saludos!" %}

{% blocktrans %}El equipo de  {{ site_name }}{% endblocktrans %}

{% endautoescape %}
