{% extends "../base.html" %}
{% load i18n %}
{% load templatetags %}
{% settings_value "WEB_APP_BASE_URL" as a%}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Se cambió tu contraseña' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

<h1>{% trans "Se cambió tu contraseña." %}</h1>
<p>Ya puedes ingresar a la aplicación.</p>

<p><a class="btn btn-primary" href="{%settings_value "WEB_APP_BASE_URL"%}">{% trans 'Ingresar' %}</a></p>

{% endblock %}
